<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">

<dom-module id="login-app">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <iron-ajax
      id="hacerLogin"
      url="http://localhost:3000/apitechu/v5/login"
      method = "POST"
      handle-as="json"
      on-response="mostarResultadoLogin"
      on-error="mostrarError"></iron-ajax>

    <div class="container">
      <div class="row">
        <div class="col-md-12">
          Email:<input type="email" value="{{email::input}}">
          <br/>
          Password<input type="password" value="{{password:input}}">
          <br/>
          <button on-click="logar"class="btn btn-dark">Login</button>
        </div>
      </div>
      <div class="row">
        <span hidden$="{{!logado}}">Bienvenido a la app</span>
      </div>
    </div>
  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class LoginApp extends Polymer.Element {
      static get is() { return 'login-app'; }
      static get properties() {
        return {
          email: {
            type: String
          },
          password:{
            type:String
          },
          logado:{
            type: Boolean,
            value: false
          }
        };
      }
      mostarResultadoLogin(){
        console.log("1: llego el resultado");
        console.log(resultado);
        console.log("2: Proceso el resultado");
        this.logado = true;
      }
      logar(){
        console.log("se ha pulsado el boton de login");
        this.$.hacerLogin.headers.email = this.email;
        this.$.hacerLogin.headers.password = this.password;
        this.$.hacerLogin.headers.generateRequest();
      }
      mostrarError(){
        console.log(error);
        this.logado = false;
      }
    }

    window.customElements.define(LoginApp.is, LoginApp);
  </script>
</dom-module>
