<link rel="import" href="../../bower_components/polymer/polymer-element.html">

<dom-module id="mi-visor">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <div class="container">
      <div class="row">
        <img src="https://image.flaticon.com/icons/svg/1530/1530720.svg" alt="" width="50px" height="50px">
      </div>
      <div class="row">
        <button on-click="incrementar" type="button" class="btn btn-dark" name="button">cargar datos</button>
        <input type="text" placeholder="[[prop3]]" value="{{prop1::input}}">
        <input type="text" value="[[prop1]]">
      </div>
      <div class="row">
        <table class="table table-striped col-lg-12 col-xs-12">
          <thead>

              <th>ID</th>
              <th>Nombre</th>
              <th>Apellido</th>

          </thead>
          <tbody>
            <tr>
              <td>[[prop2]]</td>
              <td>Dolores</td>
              <td>Fuertes</td>
            </tr>
            <tr>
              <td>2</td>
              <td>Maximo</td>
              <td>Decimus Meridus</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class MiVisor extends Polymer.Element {
      static get is() { return 'mi-visor'; }
      static get properties() {
        return {
          prop1: {
            type: String
            //value: 'mi-visor'
          },
          prop2:{
            type:Number,
            value: 0
          },
          prop3:{
            type: String,
            value: 'indique su usuario'
          }
        };
      }
      incrementar(){
        this.prop2 = this.prop2 + 1;
        console.log("prop1 " + this.prop1);
        console.log("prop2 " + this.prop2);
      }
    }

    window.customElements.define(MiVisor.is, MiVisor);
  </script>
</dom-module>
